option_settings:
  aws:elasticbeanstalk:application:environment:
    SPRING_PROFILES_ACTIVE: prod
  aws:elasticbeanstalk:container:java:
    JVM Options: -Xms512m -Xmx1024m
  aws:autoscaling:launchconfiguration:
    InstanceType: t2.micro
    SecurityGroups: thunderfat-api-sg
  aws:elasticbeanstalk:environment:
    ServiceRole: aws-elasticbeanstalk-service-role
  aws:autoscaling:asg:
    MinSize: 1
    MaxSize: 2
  aws:elasticbeanstalk:healthreporting:system:
    SystemType: enhanced
